@import url(./__element/elements__element.css);
@import url(./__image/elements__image.css);
@import url(./__title/elements__title.css);
@import url(./__like-button/elements__like-button.css);



.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(3, auto);
  gap: 20px 17px;
  margin: 50px auto 68px;

}

@media screen and (max-width: 450px) {
  .elements {
    grid-template-columns: repeat(1, auto);
    max-width: 282px;
  }
}
